body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
 /* HEADER */
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 24px;
    
}
header {
    width: 100%;
    background-color: white;
    height: 64px;
    position: top;
    align-items: center;
}

header img {
    height: 32px;
          
}

nav {
    text-align: right;
    flex-grow: 1;
    margin-right: 24px;
}

nav span {
    padding-right: 16px;
}

nav a {
    color: black;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: 0px;
}

 /* BANNER */

.learn--something{
    background-color: lightgray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

} 
.learn--something img {
    width: 60%;
    display: block;
    padding: 32px 24px;
} 

.text-btn-banner {
    align-items: center;
    justify-content: center;
    display: block;
    width: 40%;
    margin-left: 0;
    color: #333;
    padding-right: 150px;
    font-weight: 600;
}

.btn-main {
    background-color: #333;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1.3px;
    padding: 8px 110px;
    text-decoration: none;
}

 /* INFORMATION */

.information {
    background-color: #EEE;
        
}

.information img {
    width: 60%;
    display: block;
    padding: 32px 24px;
}

.information .information-main {
    text-align: left;
    display: flex;
    justify-content: left;
    width: 712px;
}

.information h1 {
    padding-left: 24px;
    padding-bottom: 24px;
}
 .information p {
    padding: 0 24px;
    text-align: justify;
    width: 712px;
}

.information-right {
    display: block;
    align-items: center;
    width: 40%;
    margin-left: 0;
    float: right;
    text-align: left;
    
    
}

.information-right img {
    width: 35%;
    display: inline-block;
    padding: 16px 16px;
    
}

.information-right .item {
    display: inline-flex;
    text-align: left;
    justify-content: left;   

}

.information-right h3, p {
    width: 35%;
    text-align: left;
    display: inline-flex;
    clear: right;
    padding-bottom: 8px;
}

#lecture {
    background-color: lightgray;
}
