html {
    height: 3300px;
    width: 1349px;
    font-size: 16px;
    
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    height: 200rem;
               
}

 /* HEADER */
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 1.5rem;
    
}

header {
    width: 100%;
    background-color: white;
    height: 4rem;
    position: top;
    align-items: center;
}

header img {
    height: 2rem;          
}

nav {
    text-align: right;
    flex-grow: 1;
    margin-right: 1.5rem;
}

nav span {
    padding-right: 1rem;
}

nav a {
    color: black;
    font-size: 1.375rem;
    text-decoration: none;
    letter-spacing: 0px;
}

@media only screen and (min-width: 895px) {
    header .mobile {
      display: none;
    }
}

@media only screen and (max-width: 720px){
    .flex-container {
        width: 100%;

    }
}

@media only screen and (max-width: 720px){
    header .mobile {
        width: 100%;
        background-color: white;
        height: 6rem;
        position: top;
        z-index: 1;
        }
    
}

@media only screen and (max-width: 720px){
    header .mobile img {
        height: 3.5rem;
        width: 3.5rem;
    }
}

@media only screen and (max-width: 720px) {
    li {
        display: inline-block;
        text-decoration: none; 
        padding: 0.5rem 2rem;             
    }
}

@media only screen and (max-width: 720px) {
    ul {
        padding: 0;
             
    }
}

@media only screen and (max-width: 720px) {
    nav {
        text-align: center; 
        align-items: center; 
           
    }
}
@media only screen and (max-width: 720px) {
    .mobile {
        width: 1200px;
           
    }
}

@media only screen and (max-width: 720px) {
    header .desktop, header #logo-desktop, header #logo2-desktop {
        display: none;        
    }
}

 /* BANNER */

.learn--something{
    background-color: lightgray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

} 
.learn--something img {
    width: 60%;
    display: block;
    padding: 2rem 1.5rem;
} 

.text-btn-banner {
    align-items: center;
    justify-content: center;
    display: block;
    width: 40%;
    margin-left: 0;
    color: #333;
    padding-right: 9.375rem;
    font-weight: 600;
}

.btn-main {
    background-color: #333;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 1.3px;
    padding: 0.5rem 6.875rem;
    text-decoration: none;
}

@media only screen and (max-width: 720px) {
    .learn--something {
        display: block; 
        align-items: center;
        position: relative;
        top: 2rem;
        padding-top: 0;
        margin-top: 0;
             
    }
}

@media only screen and (max-width: 720px) {
    .btn-main {
        font-weight: 400;
        font-size: 2rem;
        padding: 0.5rem 10.875rem;

    }
}

@media only screen and (max-width: 720px) {
    .learn--something img {
        width: 100%;
        display: block;
        padding: 0;
        position: relative;
        top: 0;
    }
}

@media only screen and (max-width: 720px) {
    .text-btn-banner {
        align-items: center;
        display: block;
        font-size: 1.5rem;
        padding: 2rem 1rem;
        justify-content: center;
        text-align: center;
        width: 100%;
        
    }

}


 /* INFORMATION */

.information {
    background-color: #EEE;
    height: auto;
    z-index: 1;
        
}

.information img {
    width: 60%;
    display: block;
    padding: 2rem 1.5rem;
}

.information .information-main {
    text-align: left;
    display: flex;
    justify-content: left;
    width: 44.5rem;
}

.information h1 {
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
}
 .information p {
    padding: 0 1.5rem;
    text-align: justify;
    width: 44.5rem;
}

.hiring {
    padding: 1rem;
    height: 4.625rem;    
}

.hiring p {
    padding-bottom: 1rem;
}

.information-right {
    display: block;
    width: 30rem;
    margin-left: 0;
    float: right;
    position: relative; 
    bottom: 49.6875rem;   
}

.information-right img {
    width: 35%;
    display: inline-block;
    padding: 1rem 1rem;
    
}

.information-right .item {
    display: inline-flex;
    text-align: left;
    justify-content: left;   

}

.item {
    height: 14.6875rem;
}

.item-text {
    display: block;
    padding-right: 0.5rem;
}

.information-right .item h3 {
    display: block;
    padding-bottom: 0.5rem;
    padding-top: 1.25rem;
    font-size: 1.25rem;
}

.information-right .item p {
    display: block;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 0.875rem;
}

.information-right .item a {
    display: block;
    text-decoration: none;
    padding-top: 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
}

#lecture {
    background-color: lightgray;
}



 /* START LEARNING */

#start-learning {
    display: inline-block;
    justify-content: center;
    background-color: lightgray;
    height: 54.5625rem;
    width: 75.3125rem;
    padding: 2rem 4.5rem;
    position: relative; 
    bottom: 45.625rem; 
     
} 

#start-learning h1 {
    text-align: center;
}
.flex-container-start {
    padding: 1rem 3.5rem 2rem 3.5rem;
}

.flex-container-start .start {
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.start {
    margin: 1rem 1rem;
    background-color: white;
    width: 18.125rem;
    height: 20rem;
    padding: 1rem;
    
}

.flex-container-start .start img {
    width: 100%;
    height: auto;
}

#art {
    position: relative;
    top: 1.125rem;
}

 /* THESIS EXHIBIT SECTION */

.thesis-exhibit {
    background-color: #EEE;
    position: relative;
    bottom: 47.1875rem;
    height: 48.75rem;
} 

.thesis-exhibit h1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}

.thesis-exhibit video {
    width: 60%;
    padding: 0 1.5rem 1.5rem 1.5rem;
    display: block;
}

.thesis-text-left {
    display: block;
    float: left;
    width: 60%;
    padding-left: 1.5rem;
}

.thesis-text-left h2 {
    text-align: left;
}

.thesis-right {
    display: block;
    width: 30rem;
    margin-left: 0;
    float: right;
    position: relative; 
    bottom: 30rem;
}

.thesis-right img {
    display: inline-block;
    width: 35%;
    padding: 1rem 1rem;
}

.thesis-text-right {
    display: block;
    float: right;
    width: 65%;
    position: relative;
    bottom: 10.625rem;
    left: 2rem;
}

.item-thesis {
    height: 14.6875rem;
    display: block;
    justify-content: center;
}

.thesis-right h3 {
    display: block;
    width: 17.5rem;
       
}

.thesis-right .item-thesis {
    text-align: left;
    justify-content: left;

}

.thesis-right .item-thesis .thesis-text-right p {
    width: 17.5rem;
}
#fisma {
    background-color: lightgray;
    padding-bottom: 0;
}

 /* FOOTER */
footer {
    background-color: #EEE;
    height: 5.9375rem;
    width: 100%;
    position: relative;
    bottom: 48.4375rem;
    
} 

footer p {
    padding-top: 1rem;
    padding-left: 1.5rem;
    display: inline-block;
}

footer .privacy {
    align-items: right;
    justify-content: right;
    float: right; 
    position: relative;   
    bottom: 4.5rem;
    left: 28.125rem; 
}

